@import 'logs';

/* Styles */
body {
    font-family: 'Roboto', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
    font-smoothing: antialiased;
    margin: 0;

    &.logs_body {
      background: black;
      text-align: left;
    }
}

